.body{
width: 280px;
    font-family: nunito;
    color: black;
    background-color: #ffffff;
    border-radius: 4%;
    display: block;
padding: 20px 40px;
margin-bottom: 20px;
}
.segmento_profesor{
    background-color: #ffffff;
    border: 2.5px solid black;
    text-align: left;
    display: inline-block;
    border-radius: 4px;

}
.profesor{
    text-align: center;
}
.horiarios{
    
    text-align: center;
}
.segmento_horario{
    background-color: #ffffff;
    text-align: right;
    border: 2.5px solid black;
    display: inline-block;
    border-radius: 4px;

}