*{
    margin: 0;
    padding: 0;
    font-family: Nunito-Light;
    src: url(../Resources/Nunito-Light.ttf);
    background-color: gray;
    
}

.body{
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

 
    
}
/*----animacion----*/




/*----finAnimacion----*/
.body_Materia{
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
 
    margin: 20px;
    font-size:20px;
}
.box_1{
    background-color: dodgerblue;
    border: 5px solid whitesmoke;
    display: block;
    border-radius: 8px;
    line-height: 35px;
    margin-bottom: 18px;
    padding: 12px;

}
.box_2{
    background-color: dodgerblue;
    border: 5px solid whitesmoke;
    display: block;
    border-radius: 8px;
    line-height: 35px;
    padding: 12px;

    margin-bottom: 16%;
}
.return{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: dodgerblue;
    color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 5px solid whitesmoke;
}
.boton{
    margin: 20px ;
    border-radius: 8px;
}
.buttoncontainer{
    border-radius: 8px;
    background-color: dodgerblue;
    margin: 20px;
    padding: 20px;
    border: 5px solid whitesmoke;

}